button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  input{
    border-radius: 5px;
    border: 1px solid #646cff63;
    padding: 0.6em 0.6em;
    font-weight: 500;
    font-family: system-ui;
    font-size: 1em;
    letter-spacing: 0.6px;
    color: #cfe3e3;
    background-color: #1a1a1a;
    outline: none;
  }
  form{
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  button:hover {
    border-color: #646cff;
  }
  .loader{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
  .loader div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #646cff;
    border-left: 0;
    animation: spin 1s linear infinite;
  }

  @keyframes spin{
    0% {
      rotate: 0deg;
    }
    100%{
      rotate: 360deg;
    }
  }

  @media (max-width: 335px) {
    form{
      gap: 5px;
      max-width: 100%;
    }
    input, button{
      padding: 0.5em 0.5em;
      font-size: 0.9em;
    }
  }